<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>1000</string>
		<key>emitterProperty</key>
		<string>birthRate</string>
		<key>labelString</key>
		<string>birth rate</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>10</string>
		<key>emitterProperty</key>
		<string>lifetime</string>
		<key>labelString</key>
		<string>lifetime</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>5</string>
		<key>emitterProperty</key>
		<string>lifetimeRange</string>
		<key>labelString</key>
		<string>lifetime variance</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>-4</string>
		<key>max</key>
		<string>4</string>
		<key>emitterProperty</key>
		<string>scale</string>
		<key>labelString</key>
		<string>initial scale</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>-4</string>
		<key>max</key>
		<string>4</string>
		<key>emitterProperty</key>
		<string>scaleRange</string>
		<key>labelString</key>
		<string>scale variance</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>-2</string>
		<key>max</key>
		<string>2</string>
		<key>emitterProperty</key>
		<string>scaleSpeed</string>
		<key>labelString</key>
		<string>scale speed</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>1000</string>
		<key>emitterProperty</key>
		<string>velocity</string>
		<key>labelString</key>
		<string>velocity</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>1000</string>
		<key>emitterProperty</key>
		<string>velocityRange</string>
		<key>labelString</key>
		<string>velocity variance</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>6.28318530718</string>
		<key>emitterProperty</key>
		<string>emissionLongitude</string>
		<key>labelString</key>
		<string>emission angle</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>6.28318530718</string>
		<key>emitterProperty</key>
		<string>emissionRange</string>
		<key>labelString</key>
		<string>angle variance</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>6.28318530718</string>
		<key>emitterProperty</key>
		<string>spin</string>
		<key>labelString</key>
		<string>spin</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>6.28318530718</string>
		<key>emitterProperty</key>
		<string>spinRange</string>
		<key>labelString</key>
		<string>spin variance</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>1.0</string>
		<key>emitterProperty</key>
		<string>redRange</string>
		<key>labelString</key>
		<string>red variance</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>10</string>
		<key>emitterProperty</key>
		<string>redSpeed</string>
		<key>labelString</key>
		<string>red speed</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>1.0</string>
		<key>emitterProperty</key>
		<string>greenRange</string>
		<key>labelString</key>
		<string>green variance</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>10</string>
		<key>emitterProperty</key>
		<string>greenSpeed</string>
		<key>labelString</key>
		<string>green speed</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>1.0</string>
		<key>emitterProperty</key>
		<string>blueRange</string>
		<key>labelString</key>
		<string>blue variance</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>10</string>
		<key>emitterProperty</key>
		<string>blueSpeed</string>
		<key>labelString</key>
		<string>blue speed</string>
	</dict>
	<dict>
		<key>type</key>
		<string>slider</string>
		<key>min</key>
		<string>0</string>
		<key>max</key>
		<string>255.0</string>
		<key>emitterProperty</key>
		<string>alphaRange</string>
		<key>labelString</key>
		<string>alpha range</string>
	</dict>
</array>
</plist>
